/* 
.page-content {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
 
} */
/* .page-content {
    padding: 90px 22.5px 50px 22.5px;
} */
 .font{
    font-size: 12px;
 }
/*  */


.btn-success:hover {
    background-color: #165f26;
}


.btn-secondary:hover {
    background-color: #5a6268;
}
 .table td {
    padding: 1px !important;

  }
.table th{
     padding-top: 3px;
     padding-bottom: 2px;
     padding-left: 1px;
     padding-right: 1px;


}



.btn-danger:hover {
    background-color: #b01726;
}


/* min-width 992px	Laptops and Desktops */
@media (max-width: 992px) {
    .table th, .table td {
        padding: 2px;
        font-size: 10px;
    }
    .font{
        font-size: 9px;
     }
}
